@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Special+Elite&display=swap');

.containerAll {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.containerItemDetail{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerImage{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}
.containerImage > img{
    width: 95%;
    height: 350px;
    object-fit: contain;
    border-radius: 10%;

}

.containerDetail{
    width:70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
    font-family: 'Special Elite', cursive;
    color: #04182e;
}

.itemAddTo{
    display: flex;
    justify-content: center;
    color: #04182e;
}

.itemBack{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}